// frontend-app-*/src/index.scss
@import "~@edx/brand/paragon/fonts";
@import "~@edx/brand/paragon/variables";
@import "~@edx/paragon/scss/core/core";
@import "~@edx/brand/paragon/overrides";

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

$input-focus-box-shadow: $input-box-shadow; // hack to get upgrade to paragon 4.0.0 to work

@import "~@edx/frontend-component-footer/dist/_footer";

@import "./components/Gradebook/gradebook";
@import "./components/Drawer/Drawer";

$dicy-radius: 0.95rem;

.form-control, .dicy-rounded, .pgn__searchfield, .btn {
    border-radius: $dicy-radius !important;
}

.dicy-searchfield-rounded {
    border-top-left-radius: $dicy-radius;
    border-bottom-left-radius: $dicy-radius;
}

.dicy-searchbutton-rounded  {
    border-bottom-right-radius: $dicy-radius;
    border-top-right-radius: $dicy-radius;
}

.dicy-content-box {
    @extend .dicy-rounded;
    border: solid 1px $gray-100;
    background-color: white;
}

.dicy-gradebook-filter {
    background-color: $yellow;
}
body {
    background-color: $gray-200;
}